@import "libs/normalize.css";

@back: #eee;
@fore: #333;
@cell: #999;
@grid: #00f;
@highlighted-cell: #eee;

@grid-width: 320px;
@grid-height: 200px;


div#grid {
  width: @grid-width;
  height: @grid-height;
  margin: auto;
  border: 2px solid @grid;

  div.cell {
    float: left;
    width: 36px;
    height: 36px;
    background-color: @cell;
    border: 2px solid @grid;

    &.chosen {
      background-color: @highlighted-cell;
    }
  }
}